.consignment-note {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
  }
  .header,
  .footer {
    text-align: center;
  }
  .section {
    margin-bottom: 20px;
  }
  .forTable {
    width: 100%;
    border-collapse: collapse;
  }
 
  .tableheading{
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
    font-weight: bold;
  }
  .tabledata{
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
  }
  .tabledatatotal{
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    font-weight: bold;
  }
  .tabledataForDesc{
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    width: 40rem;
  }
  .heading {
    font-weight: bold;
    margin-left:1rem;
  }
  .donationButtons{
    height: 2rem;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem;
}
.button{
  background-color: #0ca4fc !important;
  color: white !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

}
  .footer {
    margin-top: 30px;
  }
  .footer div {
    margin-bottom: 10px;
  }
  /* .footer hr {
    margin-top: 10px;
    margin-bottom: 10px;
  } */
  .btn{
    display: flex;
    justify-content: center;
    margin:1rem;
    margin-right: 2rem;
    
  }